/* .blue {
    border: 2px solid rgb(75, 75, 245);
    background: rgba(164, 149, 245, 0.59);
} */

.red {
    box-shadow: -1px 1px 5px 3px rgba(255, 0, 0, 0.309);
    border-radius: 5px;
}

.yellow {
    box-shadow: -1px 1px 5px 3px rgba(255, 255, 0, 0.35);
    border-radius: 5px;
}

.blue {
    box-shadow: -1px 1px 5px 3px rgba(0, 0, 255, 0.322);
    border-radius: 5px;
}

.green {
    box-shadow: -1px 1px 5px 3px rgba(0, 128, 0, 0.288);
    border-radius: 5px;
}

.cyan {
    box-shadow: -1px 1px 5px 3px rgba(0, 174, 255, 0.322);
    border-radius: 5px;
}