<div class="modal fade" id="addForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title text-center w-100" id="exampleModalLabel">{{ (datos?.id)?'Actualizar':'Añadir' }}</h5>
                <!-- {{datos |json}} -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]='formAnime' (ngSubmit)='update(formAnime.value)'>
                    <div class="mb-3">
                        <label for="title" class="col-form-label">Titulo:</label>
                        <input type="text" class="form-control {{datos.color}}" id="title" name="title" formControlName="title">
                    </div>

                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control {{datos.color}}" id="message-text" name="content" formControlName="content"></textarea>
                    </div>
                    <div class="form-group mb-1">
                        <label for="selectColor"> Seleccionar color de Borde</label> <br>
                        <select class="form-control {{datos.color}}" name="color" id="selectColor" formControlName="color"> 
                            <option value="">Seleccionar</option>
                            <option value="blue">Azul</option>
                            <option value="red">Rojo</option>
                            <option value="yellow">Amarillo</option>
                            <option value="green">Verde</option>
                            <option value="cyan">Celeste</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="img" class="col-form-label"> Ingrese la Imagen:</label>
                        <input type="file" class="form-control" id="img" name="imgUrl" (change)="handleImg($event)" formControlName="imgUrl">
                        <div class="d-flex justify-content-center mt-2">
                            <img *ngIf='datos.id' class="text-center {{datos.color}}" [src]="datos?datos.imagen:imgDefecto" alt="Ingresa una img update" width="100" height="75">
                            <img *ngIf='!datos.id' class="text-center {{datos.color}}" [src]="datos.imagen?datos.imagen:imgDefecto" alt="Ingresa una img push" width="100" height="75">
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button *ngIf="(datos?.id)" type="submit" class="btn btn-secondary p-2 px-4">
                            <i class="bi bi-arrow-counterclockwise"></i> Actualizar
                        </button>
                        <button *ngIf="!(datos?.id)" type="submit" class="btn btn-secondary p-2 px-4">
                            <i class="bi bi-arrow-bar-up"></i> Enviar
                           
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!--  {{mytitulo?'on':'off'}} -->
            </div>

            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div> -->
        </div>
    </div>
</div>