<section class="container">
    <h2 class="text-center">Sistema Administativo</h2>
    <article class="row">
        <table class="table table-hover table-striped">
            <thead class="table-dark ">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">titulo</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Imagen</th>
                    <th>opcion</th>
                </tr>
            </thead>
            <tbody class="">
                <tr *ngFor="let item of game">
                    <th>{{item.id}}</th>
                    <td>{{item.title}}</td>
                    <td>{{item.descripcion}}</td>
                    <td><img [src]="item.imagen" alt=".." width="100" height="75"></td>
                    <td class="d-flex  justify-content-center align-items-center" style="height: 100px;">
                        <button class="btn btn-primary me-2" (click)="updateGame(item.id)"> <i class="bi bi-arrow-clockwise"></i> Actualizar</button>
                        <button class="btn btn-danger" (click)="deleteGame(item.id)"><i class="bi bi-trash-fill"></i> Borrar</button>

                    </td>
                </tr>

            </tbody>
        </table>
    </article>
</section>