<section class="container formulario">
    <article class="row">
        <h2 class="text-center">{{edit==true?'Actualizar Datos':'Insertar Datos' }}</h2>
        <div class=" col-12 col-md-6  d-flex flex-column-reverse justify-content-center align-items-center">
            <div class="card col-8  colorUpdate">

                <div class="card-body ">
                    <form action="">
                        <div class="form-group mb-5">
                            <label for="">{{edit?'Actualice el titulo':'Ingrese el titulo'}} </label>
                            <input type="text" name="title" [(ngModel)]="game.title" placeholder="Title" class="form-control" autofocus>
                        </div>
                        <div class="form-group mb-5">
                            <label for="">{{edit?'Actualice la descripcion':'Ingrese una descripcion'}}</label>
                            <textarea name="description" [(ngModel)]="game.descripcion" rows="2" placeholder="Description" class="form-control"></textarea>
                        </div>
                        <div class="form-group mb-5">
                            <label for=""> {{(edit)?'Actualice la Imagen url':'Ingrese su una imagen Url'}} </label>
                            <input type="url" name="image URL" [(ngModel)]="game.imagen" placeholder="Image url" class="form-control">
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-outline-danger" (click)="edit ? updateGame() : saveGame()"> 
                               <i *ngIf="edit" class="bi bi-arrow-clockwise"></i> <i *ngIf="!edit" class="bi bi-arrow-90deg-up"></i> {{(edit)?' Actualizar ':'Guardar'}} 
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
            <div class="cards text-center d-flex flex-column justify-content-center">

                <img [src]="game.imagen==''?'https://img.pngio.com/user-logos-user-logo-png-1920_1280.png':game.imagen" alt="no hay imagen" class="card-img-top align-self-center imgMax">
                <h3>{{game.id}}. {{game.title == '' ? 'titulo de imagen' : game.title}}</h3>
                <p>{{game.descripcion}}</p>
                <p>{{game.CREATED_at| date: 'yyyy-MM-dd'}}</p>
            </div>
        </div>
    </article>
    <!-- 
        url img drive:https://drive.google.com/file/d/1yhTZDffVecK8MH_EmwO3DadvstRVf0bd/view?usp=sharing
        url web:      https://drive.google.com/uc?export=view&id=
        url ver:        https://drive.google.com/uc?export=view&id=
    -->
    <!-- <img src="https://drive.google.com/uc?export=view&id=1yhTZDffVecK8MH_EmwO3DadvstRVf0bd" alt=".."> -->
</section>