.formulario {
    background-image: url(https://s03.s3c.es/imag/_v0/770x420/3/d/b/inteligencia-artificial-mano-dedo-770-dreamstime.jpg );
    background-repeat: no-repeat;
    background-size: cover;
    color: honeydew;
}

h2 {
    width: 100%;
    text-align: center;
}

.colorUpdate {
    background-color: rgba(30, 20, 79, 0.582);
}

.imgMax {
    width: 50%;
    text-align: center;
}

.cards {
    background-color: rgba(12, 63, 140, 0.885);
    color: honeydew;
    min-height: 388px;
    width: 50%;
    display: flex;
}