td {
    img {
        cursor: pointer;
    }
}

.red:hover {
    box-shadow: -1px 1px 5px 3px red;
    border-radius: 5px;
}

.yellow:hover {
    box-shadow: -1px 1px 5px 3px yellow;
    border-radius: 5px;
}

.blue:hover {
    box-shadow: -1px 1px 5px 3px blue;
    border-radius: 5px;
}

.green:hover {
    box-shadow: -1px 1px 5px 3px green;
    border-radius: 5px;
}

.cyan:hover {
    box-shadow: -1px 1px 5px 3px rgb(0, 174, 255);
    border-radius: 5px;
}