<!-- https://console.firebase.google.com/project/angularproyect-308220/firestore/data~2FAnimes~2FVTtEQwSnVbVSrOL9REWw -->
<section class="container">
    <h2 class="text-center">Sistema Administativo</h2>
    <div class="w-100 d-flex justify-content-end mb-2">
        <button type="button" class="btn btn-success align-items-end" (click)="addData('Añadiendo')" data-bs-toggle="modal" data-bs-target="#addForm" data-bs-whatever="@mdo">
            <i class="bi bi-plus-circle"></i> addData
        </button>
    </div>

    <article class="row " style="overflow-x: scroll;">
        <table class="table table-hover table-striped">
            <thead class="table-dark ">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Imagen</th>
                    <th scope="text-center">opcion</th>
                </tr>
            </thead>
            <tbody class="">
                <tr *ngFor="let item of arryAnime; let i=index">
                    <th class="" scope="row">{{i}}</th>
                    <td class="centrar">{{item.title}}</td>
                    <td>{{item.content}}</td>
                    <td><img [src]="item.imagen" [ngClass]="item.color" alt=".." width="100" height="75"></td>
                    <td class="d-flex  justify-content-center align-items-center" style="height: 100px;">
                        <button class="btn btn-primary me-2" (click)="updateData(item)" type="button" data-bs-toggle="modal" data-bs-target="#addForm">
                             <i class="bi bi-arrow-clockwise"></i> Actualizar
                        </button>
                        <button class="btn btn-danger" (click)="deleteData(item)">
                            <i class="bi bi-trash-fill" ></i> Eliminar
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </article>

    <app-addform [data]="oneData"></app-addform>
</section>