<section class="container formulario">
    <h2 class="text-center">Añadir Datos a Firebase</h2>
    <article class="row">
        <h2 class="text-center">{{edit==true?'Actualizar Datos':'Insertar Datos' }}</h2>
        <div class=" col-12 col-md-6  d-flex flex-column-reverse justify-content-center align-items-center">
            <div class="card col-8  colorUpdate">
                <div class="card-body ">
                    <form [formGroup]="form" (ngSubmit)="addNewPost(form.value)">
                        <div class="form-group mb-3">
                            <label for="title">{{edit?'Actualice el titulo':'Ingrese el titulo'}} </label>
                            <input type="text" name="title" placeholder="Title" class="form-control" autofocus formControlName="title">
                        </div>
                        <div class="form-group mb-4">
                            <label for="description">{{edit?'Actualice la descripcion':'Ingrese una descripcion'}}</label>
                            <textarea name="description" placeholder="Description" class="form-control" formControlName="content"></textarea>
                        </div>
                        <div class="form-group mb-1">
                            <label for="selectColor"> Seleccionar color de Borde</label>
                            <select name="color" id="selectColor" formControlName="color"> 
                                <option value="">Seleccionar</option>
                                <option value="blue">Azul</option>
                                <option value="red">Rojo</option>
                                <option value="yellow">Amarillo</option>
                                <option value="green">Verde</option>
                                <option value="cyan">Celeste</option>
                            </select>
                        </div>
                        <div class="form-group mb-5">
                            <label for=""> {{(edit)?'Actualice la Imagen url':'Ingrese su una imagen Url'}} </label> <br>
                            <!--  <label for=""> img <input type="checkbox"></label>
                            <input type="url" name="image URL" placeholder="Image url" class="form-control"> -->
                            <input type="file" name="img" class="form-control mt-2" (change)="addImage($event)" formControlName="imagen">
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-outline-danger" (click)="edit ? updateGame() : saveGame()"> 
                               <i *ngIf="edit" class="bi bi-arrow-clockwise"></i> <i *ngIf="!edit" class="bi bi-arrow-90deg-up"></i> {{(edit)?' Actualizar ':'Guardar'}} 
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <!-- <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
            <div class="cards text-center d-flex flex-column justify-content-center">

                <img [src]="game.imagen==''?'https://img.pngio.com/user-logos-user-logo-png-1920_1280.png':game.imagen" alt="no hay imagen" class="card-img-top align-self-center imgMax">
                <h3>{{game.id}}. {{game.title == '' ? 'titulo de imagen' : game.title}}</h3>
                <p>{{game.descripcion}}</p>
                <p>{{game.CREATED_at| date: 'yyyy-MM-dd'}}</p>
            </div>
        </div> -->
    </article>

</section>