<!-- <h1 class="a" style="--mx-ancho: 40px;">hola mundo</h1> -->
<header class="container-fluid">
    <nav class="navbar navbar-dark bg-primary d-flex justify-content-between  w-100  py-2 border border-0 border-bottom-1  ">
        <section class="icon-logo d-flex">
            <div class="align-self-start"><img (click)="cambiarPage('home')" src="../../../assets/menu/MANE.png" alt=".." width="50"></div>
        </section>

        <section class="nav directivas">
            <article class="icon-resp d-flex  ">
                <div (click)="onclickResposil($event)" class="icon-resp_click">
                    <i *ngIf="on" class=" bi bi-list-ul"></i>
                    <i *ngIf="!on" class=" bi bi-x-circle"></i>
                </div>
                <!--  -->
            </article>

            <article class="direc-menu w-100" [ngClass]="mostrarMenu">
                <ul class="nav  nav-tabs flex">
                    <li class="nav-item" (click)="cambiarPage('')">
                        <a class="nav-link btn-outline-light  " [ngClass]="activo[0]" aria-current="page">GetALL</a>
                    </li>
                    <!-- <li class="nav-item" (click)="cambiarPage('games/add')">
                        <a class="nav-link btn-outline-light " [ngClass]="activo[1]" routerLinkActive="active">Add Game</a>
                    </li>
                    <li class="nav-item" (click)="cambiarPage('games/Table') ">
                        <a class="nav-link btn-outline-light " [ngClass]="activo[2]" tabindex="-1" aria-disabled="true">Table</a>
                    </li> -->
                    <!--   <li class="nav-item">
                                <a class="nav-link btn-outline-light disabled" tabindex="-1" aria-disabled="true">Promociones</a>
                            </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn-outline-light" [ngClass]="activo[1]" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                            DATABASE_MYSQL
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item btn-outline-danger" (click)="cambiarPage('mysql/get')">getData</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item btn-outline-danger" [ngClass]="activo[1]" routerLink="mysql_get" routerLinkActive="active-link">addData</a></li>
                            <li><a class="dropdown-item btn-outline-danger" (click)="cambiarPage('mysql/admin') ">Admin Table</a></li>
                            <li><a class="dropdown-item btn-outline-primary">...</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn-outline-light" [ngClass]="activo[2]" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                            Firebase
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item btn-outline-danger" (click)="cambiarPage('firebase/getData') ">getData</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item btn-outline-danger" (click)="cambiarPage('firebase/addData') ">addData</a></li>
                            <li><a class="dropdown-item btn-outline-danger" (click)="cambiarPage('firebase/admin') ">Admin Table</a></li>
                            <li><a class="dropdown-item btn-outline-primary">...</a></li>
                        </ul>
                    </li>
                    <!-- <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Buscar</button>
                    </form> -->
                </ul>
            </article>


        </section>

    </nav>
</header>