:root {
    --mx-ancho: 32px;
    --text-width: 106px;
    //--one: calc(var(var(--text-width)+20px)) --foo: 10px;
    //--bar: calc(var(--foo) + 10px);
}

//getComputedStyle(element).getPropertyValue("--text-color");
li,
.icon-logo {
    cursor: pointer;
}

a:hover {
    font-weight: 500;
}

.a {
    --foo: 50%;
    --bar: calc(var(--foo) + 25%);
    --mx-ancho: 30px;
    font-size: var(--mx-ancho);
    width: var(--bar);
    background: red;
    --gap: 20;
    margin-top: calc(var(--gap) * 2px);
}

header {
    margin: 0px;
    padding: 0px;
    width: 100%;
    nav {
        /*  background-color: rgb(228, 215, 228); */
        width: 100%;
        .icon-logo {
            z-index: 1;
            padding-left: 3em;
            img {
                border-radius: 20%;
                width: 5em;
                /* display: none; */
            }
        }
        .directivas {
            padding-right: 3em;
            .icon-resp {
                padding-right: 3em;
                i {
                    color: white;
                    font-size: 2.5em;
                    cursor: pointer;
                    display: none;
                }
            }
            article:nth-child(2) {
                .flex {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}

@media only screen and (max-width: 898px) {
    header {
        height: 4em;
        nav {
            height: 100%;
            width: 100%;
            /* padding: .5em 2em; */
            .icon-resp div {
                padding-left: 1em !important;
            }
            .icon-logo div {
                padding-right: 1em !important;
            }
            .directivas {
                padding-right: 0em;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                position: relative;
                top: -3.5em;
                /*  background: #0d6efd; */
                /* top: 1em; */
                .icon-resp {
                    /*   position: relative; */
                    /*  background-color: green; */
                    height: 100%;
                    width: 100%;
                    padding-right: 1em;
                    display: flex;
                    justify-content: flex-start;
                    z-index: 10;
                    i {
                        width: 100%;
                        /*  border: 1px solid red; */
                        display: block;
                    }
                }
                .direc-menu {
                    height: 100vh;
                    position: relative;
                    /* top: 16.9em; */
                    /* right: 8em; */
                    z-index: 10;
                    display: none;
                    .flex {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        li,
                        form {
                            padding: .5em 2em;
                        }
                        li ul {
                            width: 100%;
                        }
                        li a {
                            text-align: end;
                        }
                    }
                }
                .direc-menu_ida {
                    background: #dc3546;
                    animation-name: ida;
                    animation-duration: 8s;
                    display: block;
                    left: 0em;
                }
                @keyframes ida {
                    from {
                        left: -65em;
                        background: #dc3546ad;
                    }
                    to {
                        left: 0em;
                        background: #dc3546;
                    }
                }
                .direc-menu_vuelta {
                    display: block;
                    animation-name: vuelta;
                    animation-duration: 8s;
                    left: -65em;
                }
                @keyframes vuelta {
                    from {
                        left: 0em;
                        background: #dc3546;
                    }
                    to {
                        left: -65em;
                        background: #dc3546ad;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .direc-menu_ida {
        background: #dc3546;
        animation-name: ida;
        animation-duration: 4s;
        display: block;
        left: 0em;
    }
    @keyframes ida {
        from {
            left: -510px;
            background: #dc3546ad;
        }
        to {
            left: 0em;
            background: #dc3546;
        }
    }
    .direc-menu_vuelta {
        display: block;
        animation-name: vuelta;
        animation-duration: 3s;
        left: -510px;
    }
    @keyframes vuelta {
        from {
            left: 0em;
            background: #dc3546;
        }
        to {
            left: -510px;
            background: #dc3546ad;
        }
    }
}