<h2 class="text-center fw-bold">Lista de MYSQL</h2>
<div class="d-flex  justify-content-around flex-wrap align-items-center">

    <section class="card" *ngFor="let item of game">
        <div class="descuento">
            <p>{{item.id}}</p>
        </div>
        <article class="data ">
            <h2 style="margin-bottom: -.5em;">{{item.title}}
                <p class="fs-5">{{item.data}}</p>
            </h2>
            <p>{{item.descripcion}}</p>
            <strong class="tiempo">{{item.CREATED_at | date: 'yyyy-MM-dd, hh:mm:ss'}}</strong>
        </article>
        <article class="imagen">
            <img [src]="item.imagen" alt="..">
        </article>
        <div class="btns">
            <button class="btn btn-green" (click)="updateGame(item.id)">Update</button>
            <button class="btn btn-red" (click)="deleteGame(item.id)">Delete</button>
        </div>
    </section>

</div>
<div>
    <!-- 
        obtener la url de la imagen. click derecha - compartir(copiar elnace) y dar acceso puclico 
        url de un img del Drive: https://drive.google.com/file/d/14aA_Ym-WTCqEFwwIDGB0dxQjhZbwu1-_/view?usp=sharing
        id: 14aA_Ym-WTCqEFwwIDGB0dxQjhZbwu1-_
        url https://drive.google.com/uc?export=view&id=
        combinacion: https://drive.google.com/uc?export=view&id=14aA_Ym-WTCqEFwwIDGB0dxQjhZbwu1-_
     -->
    <!--    <img src="https://drive.google.com/uc?export=view&id=14aA_Ym-WTCqEFwwIDGB0dxQjhZbwu1-_" alt="....."> -->
</div>
<!-- 

https://drive.google.com/file/d/1qeiFWkKZpcZXuRK1tFGK8C44TpYBYWSY/view?usp=sharing
https://drive.google.com/uc?export=view&id=1qeiFWkKZpcZXuRK1tFGK8C44TpYBYWSY

https://drive.google.com/file/d/1qtNrfaI7hOAm1hB0Bn8B9z96gqMdD4VE/view?usp=sharing 

-->