.tiempo {
    font-size: 11px;
    line-height: 17px;
    letter-spacing: -0.006em;
    font-weight: 300;
}

.card {
    width: auto;
    max-width: 350px;
    height: 200px;
    /*   display: flex;
    flex-direction: row; */
    box-shadow: 1px 1px 5px 3px rgba(212, 212, 213, 0.707);
    position: relative;
    cursor: pointer;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75% 25%;
    gap: 0px;
    .btns {
        grid-column: 1/3;
        .btn {
            margin: 2%;
            width: 46%;
            background: red;
            color: white;
        }
        .btn-green {
            background-color: rgb(4, 189, 4);
        }
        .btn-red {
            background-color: rgba(238, 22, 22, 0.918);
        }
        .btn:hover {
            font-weight: bold;
        }
        .btn-green:focus {
            color: green;
            background: rgba(245, 242, 242, 0.925);
            border: 2px solid green;
        }
        .btn-red:focus {
            color: rgba(238, 22, 22, 0.918);
            background: white;
            border: 2px solid rgba(238, 22, 22, 0.918);
        }
    }
    .descuento {
        position: absolute;
        width: 50%;
        height: 100%;
        background: rgba(228, 10, 10, 0.85);
        clip-path: polygon(0 0, 0 32%, 42% 0);
        p {
            text-align: center;
            padding-top: 5px;
            width: 30%;
            height: 30%;
            font-weight: bold;
            color: aliceblue;
            transform: rotate(-25deg);
        }
    }
    article {
        /* width: 50%; */
    }
    .data {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        /* height: 80%;
        width: 50%; */
        h2 {
            text-align: center;
            font-size: 1.25em;
            font-weight: bold;
            color: red;
        }
        p {
            text-align: center;
        }
    }
    .imagen {
        /* height: 80%;
        width: 50%; */
        img {
            padding: 15px 5px;
            width: 100%;
            height: 100%;
        }
    }
}

.card:hover {
    /* max-width: 250px;
    height: 120px; */
    /*  max-width: 360px;
    height: 125px; */
}