<!-- https://console.firebase.google.com/project/empleados-93ba2/settings/general/web:OTA2Njg3MDUtZDZhNi00ZTZlLTg5Y2MtZDE2MGRkMmM3MjIw -->
<!--admin: https://console.firebase.google.com/project/empleados-93ba2/firestore/data~2Fitems~2FgqGNEXUzobdLxcvhuWzM -->
<!-- pasos de configurar firebase: https://github.com/angular/angularfire/blob/master/docs/install-and-setup.md -->
<!-- animaciones: https://www.npmjs.com/package/ngx-toastr  -->

<!-- {{arryAnime[0] | json}} -->
<div class="d-flex  justify-content-around flex-wrap align-items-center">
    <h2 class="text-center fw-bold">Lista de firebase</h2>
    <div class="w-100 d-flex justify-content-end mb-2">
        <button type="button" class="btn btn-success align-items-end" (click)="addData()" data-bs-toggle="modal" data-bs-target="#addForm" data-bs-whatever="@mdo">
            <i class="bi bi-plus-circle"></i> addData
        </button>
    </div>
    <section class="card" *ngFor="let item of arryAnime; let id=index">
        <div class="descuento">
            <p>{{id}}</p>
        </div>
        <article class="data ">
            <h2 style="margin-bottom: -.5em;">{{item.title}}
                <p class="fs-5" style="color: {{item.color}};">{{item.content}}</p>
            </h2>
            <p>{{item.descripcion}}</p>
            <strong class="tiempo">{{item.CREATED_at | date: 'yyyy-MM-dd, hh:mm:ss'}}</strong>
        </article>
        <article class="imagen border border-1 ">
            <img style="box-shadow: -2px 2px 5px 2px {{item.color}}; " [src]="item.imagen" alt="..">
        </article>
        <div class="btns">
            <button class="btn btn-green">Update</button>
            <button class="btn btn-red">Delete</button>
        </div>
    </section>

</div>
<!-- 
<section class="container" style="background-color: rgb(175, 255, 198);">
    <span class="h3 text-center w-100">Lista de Empleado Firebase</span>
    <article class="col d-flex justify-content-end pb-2">
        <div class="icon btn btn-outline-danger" routerLink="firebase/addData"><i class="fas fa-user-plus"></i> Agregar</div>
    </article>
    <span *ngIf="Anime.length == 0" class="h3 text-center w-100">no hay datos para mostar</span>

    <table *ngIf="Anime.length > 0" class="table table-striped  table-bordered table-hover">
        <thead class="thead-dark table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">surname</th>
                <th scope="col">age</th>
                <th scope="col">option</th>

            </tr>
        </thead>
        <tbody class="table-active">
            <tr *ngFor="let item of Anime ;let i=index ">
                <th scope="row">{{i}}</th>
                <td>{{item.nombre}}</td>
                <td>{{item.apellido}}</td>
                <td>{{item.edad}}</td>
                <td class="d-inline-flex w-100" style="font-size: 23px;">
                    <div routerLink="firebase/edit/" +`{{item.id}}` class="editar w-50 " style="color:rgb(15, 69, 248);"><i class="fas fa-edit btn btn-outline-primary"></i></div>
                    <div (click)="delEmpleado(item.id)" class="eliminar w-50" style="color:rgb(221, 24, 24);"> <i class="fas fa-trash-alt btn btn-outline-danger"></i></div>
                </td>
            </tr>

        </tbody>
    </table>
</section>
 -->

<!-- [routerLink]="['/editFirebase/',item.id]" -->